* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "fantasy";
  src: url("../img/fantasy.otf");
}

#creator {
  position: absolute;
  background-color: bisque;
  border: 2px black solid;
  width: 10vw;
  height: 2vh;
  text-align: center;
  margin-top: 46%;
}

#startButton {
  position: absolute;
  width: 20%;
  margin-left: 37.5%;
  margin-top: 32%;
  cursor: pointer;
}

#continueButton {
  position: absolute;
  margin-left: 36vw;
  margin-top: 80vh;
  cursor: pointer;
}

#continueButton1 {
  position: absolute;
  display: none;
  margin-left: 40vw;
  margin-top: 13vh;
  width: 17vw;
  z-index: 1;
  cursor: pointer;
}

.mainButtons {
  width: 20vw;
  position: absolute;
  margin-top: 85vh;
  display: none;
  cursor: pointer;
}

#counterButton {
  margin-left: 15vw;
}

#workshopButton {
  margin-left: 65vw;
}

#Lore {
  display: none;
}

#mainMenu {
  display: block;
}

#loreText {
  color: aliceblue;
}

#loreBorder {
  text-align: center;
  font-size: 30px;
  width: 50vw;
  margin-left: 24vw;
  margin-top: 2vh;
  position: absolute;
}

#prolog {
  position: absolute;
  display: none;
  background-color: bisque;
  width: 50vw;
  height: 12vh;
  border: 2px black solid;
  text-align: center;
  margin-left: 24vw;
  margin-top: 5vh;
}

#part1 {
  position: absolute;
  display: none;
  background-color: bisque;
  width: 50vw;
  height: 27vh;
  margin-left: 24vw;
  margin-top: 5vh;
  border: 2px black solid;
  text-align: center;
}

#part2 {
  position: absolute;
  display: none;
  background-color: bisque;
  width: 50vw;
  height: 22vh;
  margin-left: 24vw;
  margin-top: 5vh;
  border: 2px black solid;
  text-align: center;
}

#part3 {
  position: absolute;
  display: none;
  background-color: bisque;
  width: 50vw;
  height: 18vh;
  margin-left: 24vw;
  margin-top: 5vh;
  border: 2px black solid;
  text-align: center;
}

#part4 {
  position: absolute;
  display: none;
  background-color: bisque;
  width: 30vw;
  height: 50vh;
  margin-left: 2vw;
  margin-top: 5vh;
  border: 2px black solid;
  text-align: center;
}

#part5 {
  position: absolute;
  display: none;
  background-color: bisque;
  width: 30vw;
  height: 50vh;
  margin-left: 2vw;
  margin-top: 5vh;
  border: 2px black solid;
  text-align: center;
}

.UnknownPerson {
  position: absolute;
  margin-left: 37vw;
  margin-top: 25vh;
  display: none;
}

#Reynauld {
  position: absolute;
  margin-left: 37vw;
  margin-top: 25.5vh;
  display: none;
}

#orderButton {
  position: absolute;
  display: none;
  margin-left: 40vw;
}

#minimize {
  position: absolute;
  display: none;
  margin-left: 9vw;
  margin-top: 60vh;
  cursor: pointer;
  font-family: "fantasy";
  font-size: 50px;
  z-index: 3;
}

#arrow {
  position: absolute;
  display: none;
  width: 10vh;
  margin-left: 90vw;
  margin-top: 90vh;
  cursor: pointer;
}

#orders {
  position: absolute;
  display: none;
  background-image: url("../img/orderScroll.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 25vw;
  height: 70vh;
  margin-left: 73vw;
  margin-top: 0vh;
  z-index: 10;
}

#miniOrder {
  width: 25vw;
  margin-left: 73vw;
  margin-top: 1vh;
  position: absolute;
  display: none;
  cursor: pointer;
}

#partSchema {
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
 

}

#forgery{
  position: absolute;
  display: none;
}

#crucible{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
.weaponCasts{
  width: 5vw;
  height: 10vh;
  border: 1px solid black;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  margin-left: 1vw;
  cursor: pointer;
}

.oreChoose{
  width: 5vw;
  height: 10vh;
  border: 1px solid black;
  background-color: bisque;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-left: 1vw;
  cursor: pointer;
}

#castText{
  position: absolute;
  rotate: 90deg;
  margin-left: 7vw;
  margin-top: 28vh;
  font-size: 125px;
  color: aliceblue;
}

#oreText{
  
    position: absolute;
    rotate: 90deg;
    margin-left: 7vw;
    margin-top: 23vh;
    font-size: 125px;
    color: aliceblue;
    display: none;
  
  
}

#mark{
  position: absolute;
  display: none;
  width: 3vw;
  height: 6vh;
  border: solid black 2px;
  border-radius: 30px;
  margin-left: 55vw;
  margin-top: 30vh;
  background-color: orange;
}

#smeltingButton{
  display: none;
  position: absolute;
  width: 5vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
  margin-top: 75vh;
  margin-left: 52.5vw;
  cursor: pointer;
  border: solid black 2px;
  background-color: green;
}

#deleteButton{
  border: solid black 2px;
  position: absolute;
  width: 8vw;
  height: 8vh;
  margin-top: 85vh;
  margin-left: 45vw;
  background-color: red;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.slider {
  position: absolute;
 rotate: 90deg;
  width: 9vw;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  


}

#myRange{
  margin-left: 56vw;
  margin-top: 80vh;
}
#myRange2{
  margin-left: 33.3vw;
  margin-top: 51vh;
}


.slidecontainer{
  display: none;
}
#bellowText{
  position: absolute;
  rotate: 90deg;
  color: aliceblue;
  margin-left: 61vw;
margin-top: 80vh;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#castingChain{
 
 margin-left: 1.8vw;

}

#castingChainFace{
 
  position: absolute;
  border: solid 2px black;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vh;
  margin-left: 35vw;
  margin-top: 38vh;
  background-color: greenyellow;
}
#castedWeapons{
  display: none;
  width: 50vw;
  height: 40vh;
  margin-left: 20vw;
  rotate: 180deg;
  position:absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.smithingButton{
  display: none;
  position: absolute;
  width: 4vw;
  height: 4vh;
  border: solid 2px black;
  background-color: thistle;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 6;
  cursor: pointer;
}

#handle{
  display: none;
  position:absolute;
  width: 5vw;
  height: 30vh;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  
}
#finish{
  display: none;
  position: absolute;
width: 5vw;
height: 5vh;
border: solid black 2px;
background-color: #04AA6D;
}